@font-face {
  font-family:DMSans;
  src: url(../fonts/DMSans-Bold.ttf);
}
@font-face {
  font-family:DMSans;
  src: url(../fonts/DMSans-BoldItalic.ttf);
}
@font-face {
  font-family:DMSans;
  src: url(../fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family:DMSans;
  src: url(../fonts/DMSans-Regular.ttf);
}