:root{
    --text-color:#000248;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
body{
    background: linear-gradient(270deg,#fff,#f4ff99 24.38%,#e3d4f9 77.05%,#fff);
}
section{
    font-family:DMSans;
}
img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
p{
    color: #737387;
    font-size: 20px;
    line-height: 32px;
    display: inline-block;
    margin-bottom: 10px;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.cstm-btn{
    position: relative; 
    width: max-content;
    transition: all 0.5s !important;
}
.cstm-btn span{
    position: relative;
    display: inline-block;
    padding:  13px 25px;
    color: var(--text-color);
    font-weight: 700;
    z-index: 10;
    transition: all 0.5s !important;
}
.cstm-btn span i{
    padding-left: 25px;
    font-size: 8px;
}
.cstm-btn .btn-color{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%; 
    opacity: 0;
    z-index: 0;
    background-color: var(--text-color);
    transition: all 1s;
}
.cstm-btn:hover .btn-color{
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    transition: all 1s;
}  
.cstm-btn .btn-border{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 300px;
    height: 100%;
    border: 2px solid var(--text-color);
}
.cstm-btn:hover .btn-border{
    opacity: 0;
    transform: scale(1.3);
    transition: all 0.5s;
}
.cstm-btn:hover span{
    color: #fff !important;
    z-index: 11 !important;
}
/* header */
 .navbar-nav .nav-item a i{
    color: var(--text-color);
}
.menu-toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--text-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
    transition: .3s;
}
.menu-toggle span{
    display: flex;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    position: relative; 
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform .5s cubic-bezier(.77,.2,.05,1),background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease;
}
/* off-canvas */
.menu{
    height: 60px;
    width: 60px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.offcanvas{
    width: 30% !important;
    padding: 0 70px;
}
.offcanvas ul{
    padding: 0;
    margin: 0;
}
.phone-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    z-index: 999;
}
.phone-menu-inner{
    transform: none;
    background: #000;
    width: 455px;
    max-width: 80%;
    height: 100%;
    text-align: left;
    transition: all .3s;
    overflow-y: auto;
    padding-top: 85px;
    cursor: default;
    position: relative;
}
.offcanvas-header{
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 15px;
    height: 85px;
    align-items: center;
    background: #e3d4f8;
    position: absolute;
}
.offcanvas-header .logo{
    flex-grow: 1;
    display: block;
}
.offcanvas-header .logo img{
    text-decoration: none;
    outline: none;
    color: var(--text-color);
    display: inline-block;
    transition: .3s;
}
.menu-item .mainmenu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 20px;
    list-style: none;
}
.menu-item .mainmenu li:first-child{
    border: 0;
}
.menu-item .mainmenu li{
    border-top: 1px solid hsla(0,0%,100%,.15);
}
.menu-item .mainmenu li a{
    position: relative;
    display: block;
    padding: 19px 0;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    transition: .4s;
    font-size: 16px;
    line-height: 22px;
    list-style: none;
}
.menu-item .mainmenu li a i{
    top: 50%;
    right: 0;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transform: translateY(-50%);
    content: "";
    width: 0;
    height: 0;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    display: inline-block;
    position: absolute;
}
.offcanvas button{
    border: none;
    background-color: transparent;
    font-size: 30px;
}
/* banner */
.container .content .demo{
    color: #702fff;
    font-size: 24px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 10px;
    display: block;
    margin:250px 0 30px;
}
.container .content .demo-1{
    font-family: DM Sans,sans-serif;
    color: var(--text-color);
    font-weight: 700;
    line-height:68px;
    font-size:55px;
}
.button-text{
    margin: 0 20px;
    transition: all 0.5s;
    display: inline-block;
    text-decoration: none;
    z-index: 2;
    font-size: 16px;
    border: 0;
    text-align: center;
}
.button-text a{
    margin: 0 20px;
    color: var(--text-color);
    height: auto;
     line-height: normal;
    position: relative;
    font-weight: 500;
}
.banner .cstm-btn .button-text a:hover{
    color: #702fff;
    cursor: pointer;
    transition: all 0.1s;
}
.banner .button-text a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -7px;
    left: 0;
    background-color:#702fff;
    transition: all 0.5s;
}
.banner .button-text:hover a::after{
    width: 100%;
}
.banner-img{
   justify-content: center;
}
.thumbnail{
    position: absolute;
    right: 0;
}
.scroll-down{
    box-sizing: border-box;
    height: 60px;
    width: 39px;
    border: 3px solid #00004b;
    border-radius: 20px;
    position: relative;
    margin: 40px;
}
.scroll-down span{
    height: 15px;
    width: 8px;
    border-radius: 4px;
    background-color: #75758b;
    position: absolute;
    left:50%;
    margin-top: 17px;
    margin-left: -4px;
}
/* select */
.selected{
    background-color:#f8f9fa;
}
.selected .btn{
    color:#007aff;
    background-color:rgba(0,122,255,.1);
}
.selected .btn:hover{
    color:#007aff;
    background-color:rgba(0,122,255,.1);
}
.selected{
   padding:130px;
}
.selected .demo-2{
    color: var(--text-color);
    font-size: 50px;
    margin-top: 20px;
    font-weight: 800;
}
.selected-box{
    position: relative;
}
.case-study{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projects-content h3{
    position: absolute;
    top: 10%;
    padding: 50px;
    font-weight: 700;
    font-size: 26px;
    width: 64%;
    color:  var(--text-color);
}
.projects-content h3:hover{
   color: #702fff;
   cursor: pointer;
}
.projects-content {
    position: relative;
}
.projects-content::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: all 0.3s;
    z-index: 0;
}
.projects-content:hover::after{
    opacity: 0.3;
}
.projects-content:hover{
    transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s; 
    transition: all 0.3s;
    transform: perspective(1000px) rotateX(4.56091deg) rotateY(3.59187deg) scale3d(1, 1, 1);
}
.projects-content p {
    position: absolute;
    top: 3%;
    padding: 50px;
}
/* photography */
.photography{
    background-color: #fff;
}
.photography .btn{
    color:#007aff;
    background-color:rgba(0,122,255,.1);
}
.photography .btn:hover{
    color:#007aff;
    background-color:rgba(0,122,255,.1);
    cursor:pointer;
}
.photography .demo-2{
    color: var(--text-color);
    font-size: 50px;
    margin-top: 20px;
    font-weight: 800;
}
.photography{
    padding:130px;
}
.photography-content h3{
    position: absolute;
    top: 10%;
    padding: 50px;
    font-weight:900;
    font-size: 26px;
    width: 64%;
    color:var(--text-color);
}
.photography-content h3:hover{
   color: #702fff;
   cursor: pointer;
}
.photography-content {
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}
.photography-info {
    transition: all 0.5s;
    position: absolute;
    left: -250px;
}

.photography-content:hover .photography-info{
    left: 0 !important;
}
.photography-info h3{
    margin-top: 30px;
}
.photography-content:hover{
    transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s; 
    transform: perspective(1000px) rotateX(4.56091deg) rotateY(3.59187deg) scale3d(1, 1, 1);
}
.photography-content p {
    position: absolute;
    top: 1%;
    padding: 50px;
}
.photography-content{
    margin-top: 60px;
    position: relative;
    box-shadow: 0 0 1px transparent;
}
/* clients */
.clients{
    background-color: #f8f9fa;
}
.clients{
    padding: 100px 0;
}
.clients .btn{
    color:#ff8a5b;
    background: rgba(255,138,91,.1);
}
.clients .btn:hover{
    color:#ff8a5b;
    background: rgba(255,138,91,.1);
    cursor:pointer;
}
.clients .title-section h2{
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    line-height: 62px;
}
.clients .col-8 .col-4{
    position: relative;
    padding: 60px 50px;
    transition: all 0.5s;
    cursor: pointer;
}
.clients .col-8 .uper::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c7c7d6;
}
.clients .col-8 .one,
.clients .col-8 .two,
.clients .col-8 .four,
.clients .col-8 .five{
    border-right: 2px solid #c7c7d6;
}
.clients .col-8 .col-4:hover{
    background-color: #f6f6f6;
}
.clients .col-8 .col-4:hover img{
    transform: scale(1.2);
}
.clients img{
    margin: 0 auto;
    transition: all 0.5s;
}
/* testimonials */
.testimonial{
    padding: 80px 0 100px;
}
.testimonial{
     background-color: #fff;
}
.testimonial .btn{
    color:#7a19ff;
    background-color:rgba(122,25,255,.1) ;
}
.testimonial .btn:hover{
    color:#7a19ff;
    background-color:rgba(122,25,255,.1) ;
    cursor:pointer;
}
.testimonial .title-section{
    padding: 30px 0;
}
.testimonial .title-section h2{
    color: var(--text-color);
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    padding: 0 30px;
}
.testimonial .col-6{
    padding: 0 30px;
}
.testimonial .testi-card{
    padding: 70px 50px;
}
.testimonial .two:hover .tc2{
    box-shadow: -10px 10px 50px rgba(0,0,0,0.05),
                10px -10px 50px rgba(0,0,0,0.05);
                transition: all 0.5s;
}
.testimonial .testi-card .image-section{
    display: flex;
    margin-bottom: 30px;
}
.testimonial .testi-card .image-section img{
    margin-top: 5px;
    height: 60px;
    width: 60px;
    margin-right: 30px;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.19);
}
.testimonial .testi-card .image-section h4{
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    color: var(--text-color);
}
.testimonial .testi-card .image-section p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color:#52526c;
    opacity: 0.8;
}
.testimonial .testi-card .data-section{
    margin-bottom: 30px;
}
.testimonial .testi-card .data-section span{
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color:#52526c;
}
.testimonial .testi-card a{
    position: relative;
    color:var(--text-color);
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}
.testimonial .testi-card a:hover{
    color: #702fff;
    transition: all 0.2s;
}
.testimonial .testi-card a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -7px;
    left: 0;
    background-color:#702fff;
    transition: all 0.5s;
}
.testimonial .testi-card:hover a::after{
    width: 100%;
}
.testimonial .dribbble span{
    color: var(--text-color);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.testimonial .dribbble span:hover{
    color: #702fff;
    transition: 0.2s all ease-in-out;
}
.testimonial .dribbble i{
    height: 67px;
    width: 67px;
    background-color: #ea4c89;
    box-shadow: 0 10px 37px -5px rgb(110 73 87 / 50%);
    line-height: 67px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    margin-right: 25px;
}
.testimonial li{
    list-style: none;
} 
.testimonial .behance i{
    height: 67px;
    width: 67px;
    background-color: #0067ff;
    box-shadow: 0 10px 37px -5px rgba(0,103,255,.5);
    line-height: 67px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    margin-right: 25px;
}
.testimonial .behance span{
    color: var(--text-color);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.testimonial .behance span:hover{
    color: #702fff;
    transition: 0.2s all ease-in-out;
}
.testimonial .linkedin i{
    height: 67px;
    width: 67px;
    background-color: #0177ac;;
    box-shadow: 0 10px 37px -5px rgba(1,119,172,.5);
    line-height: 67px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    margin-right: 25px;
}
.testimonial .linkedin span{
    color: var(--text-color);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.testimonial .linkedin span:hover{
    color: #702fff;
    transition: 0.2s all ease-in-out;
}
.logo-list{
    display: flex;
    flex-wrap: wrap;
    margin: 110px 0px 15px;
}

/* form */
.form{
    background-color: #FAFAFB !important;
    padding: 30px 0;
}
.form .btn{
    color:#007aff;
    background-color:rgba(0,122,255,.1);
}
.form .btn:hover{
    color:#007aff;
    background-color:rgba(0,122,255,.1);
    cursor:pointer;
}
.form .title-section h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 15px;
    color: var(--text-color);
}
.form .title-section p:hover{
    color:#702fff;
}
.form .title-section h1{
    color: var(--text-color);
    margin-bottom: 50px;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 20px;
}
.form .title-section p{
    overflow: hidden;
    font-size: 20px;
    line-height: 24px;
    color: #757589;
    font-weight: 400;
}
.form{
    background-color: #fff;  
    padding: 130px 0px;
}
.form .sub-title{
    background: rgba(0,208,156,.1);
}
.form .sub-title p{
    color: #00d09c !important;
}
.form h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    margin-bottom: 20px;
    color: var(--text-color);
}
.form p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
    color: #52526c;
}
.form .main-form{
    box-shadow: -15px 20px 20px rgba(0,0,0,0.10);
    padding: 20px 50px;
    padding-bottom: 0;
    z-index: 10;
    perspective: 1000px;
}
.form form {
    background-color: #fff !important;
}
.form .main-form .dots{
    position: absolute;
    bottom: -10%;
    left: 3%;
    z-index: -1;
}
.form form h3{
    font-size: 35px;
    font-weight: 900;
}
.form form input{
    display: block;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    margin: 50px 0;
    padding-bottom: 10px;
    color: #52526c;
    font-size: 18px;
}
.form form input 
.form .cstm-btn{
    margin-bottom: 30px;
}
.form .cstm-btn{
    width: 100%;
}
.form .cstm-btn span{
    left: 50%;
    padding:  20px 30px;
    transform: translate(-50%);
}
.form .cstm-btn .btn-border{
    width: 100%;
}
.form .cstm-btn .btn-color{
    width: 100%;
}
.form .cstm-btn:hover .btn-color{
    width: 100%;
}
/* footer */
.footer-end{
    border-top: 1px solid #c7c7d5;
    background-color: #FAFAFB;
    padding: 25px 0;
}
.footer-end ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-end ul li a{
    position: relative;
    color: #52526c;
    opacity: 0.9;
    margin-left: 20px;
    text-decoration: none;
}
.footer-end ul li a:hover{
    color: #702fff;
}
.footer-end ul li a::after{    
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #702fff;
    transition: all 0.5s;
}
.footer-end ul li a:hover::after{
    width: 100%;
}